a,a:hover {
    color: whitesmoke

}

table{
    height:100px;
    background-color:crimson;
    border-top: 5px solid blanchedalmond;
    width: 100%;
    color:skyblue;
}

.spacer {
    margin-bottom: 10px;
}

.fa-react{
    margin-right: 5px;
}

.fa-github {
    margin-left: 5px;
}